<link rel="preload" as="image" href="/assets/img/home/logo-dark.png">
<link rel="preload" as="image" href="/assets/img/home/logo-light.png">
<link rel="preload" as="image" href="/assets/img/home/wheel/today-dark.svg">
<link rel="preload" as="image" href="/assets/img/home/wheel/god-dark.svg">
<link rel="preload" as="image" href="/assets/img/home/wheel/phone-dark.svg">
<link rel="preload" as="image" href="/assets/img/home/wheel/capture-dark.svg">
<link rel="preload" as="image" href="/assets/img/home/wheel/remember-dark.svg">
<link rel="preload" as="image" href="/assets/img/home/wheel/people-dark.svg">
<link rel="preload" as="image" href="/assets/img/home/wheel/reflect-dark.svg">
<link rel="preload" as="image" href="/assets/img/home/wheel/ask-dark.svg">
<link rel="preload" as="image" href="/assets/img/home/wheel/act-dark.svg">
<link rel="preload" as="image" href="/assets/img/home/wheel/web-dark.svg">
<link rel="preload" as="image" href="/assets/img/home/wheel/meetings-dark.svg">
<link rel="preload" as="image" href="/assets/img/home/wheel/voice-dark.svg">
<link rel="preload" as="image" href="/assets/img/home/wheel/vision-dark.svg">
<link rel="preload" as="image" href="/assets/img/home/wheel/browser-dark.svg">
<link rel="preload" as="image" href="/assets/img/home/wheel/vault-dark.svg">
<link rel="preload" as="image" href="/assets/img/home/wheel/clipboard-dark.svg">
<link rel="preload" as="image" href="/assets/img/home/wheel/images-dark.svg">
<link rel="preload" as="image" href="/assets/img/home/wheel/models-dark.svg">
<link rel="preload" as="image" href="/assets/img/home/wheel/api-dark.svg">
<link rel="preload" as="image" imageSrcSet="/assets/img/home/app/day-dark-1760.webp?v=20261008c 1760w, /assets/img/home/app/day-dark.webp?v=20261008c 3520w" imageSizes="(max-width: 860px) 900px, 70vw">
