<link rel="preload" as="image" href="/assets/img/home/logo-dark.png">
<link rel="preload" as="image" href="/assets/img/home/logo-light.png">
<link rel="preload" as="image" imageSrcSet="/assets/img/home/app/project-summary-dark-1760.webp?v=20261008k 1760w, /assets/img/home/app/project-summary-dark.webp?v=20261008k 3024w" imageSizes="(max-width: 860px) 900px, 70vw">
<link rel="preload" as="image" imageSrcSet="/assets/img/home/app/project-compare-dark-1760.webp?v=20261008k 1760w, /assets/img/home/app/project-compare-dark.webp?v=20261008k 3024w" imageSizes="(max-width: 860px) 900px, 70vw">
<link rel="preload" as="image" imageSrcSet="/assets/img/home/app/project-checklist-dark-1760.webp?v=20261008k 1760w, /assets/img/home/app/project-checklist-dark.webp?v=20261008k 3024w" imageSizes="(max-width: 860px) 900px, 70vw">
<link rel="preload" as="image" imageSrcSet="/assets/img/home/mobile/project-ios-1-dark-640.webp?v=20261008k 640w, /assets/img/home/mobile/project-ios-1-dark.webp?v=20261008k 1290w" imageSizes="(max-width: 860px) 300px, 400px">
<link rel="preload" as="image" imageSrcSet="/assets/img/home/mobile/project-ios-2-dark-640.webp?v=20261008k 640w, /assets/img/home/mobile/project-ios-2-dark.webp?v=20261008k 1290w" imageSizes="(max-width: 860px) 300px, 400px">
