<link rel="preload" as="image" href="/assets/img/home/logo-dark.png">
<link rel="preload" as="image" href="/assets/img/home/logo-light.png">
<link rel="preload" as="image" imageSrcSet="/assets/img/home/app/god-dark-1760.webp?v=20261008j 1760w, /assets/img/home/app/god-dark.webp?v=20261008j 3024w" imageSizes="(max-width: 860px) 900px, 70vw">
<link rel="preload" as="image" imageSrcSet="/assets/img/home/app/god-prep-dark-1760.webp?v=20261008j 1760w, /assets/img/home/app/god-prep-dark.webp?v=20261008j 3024w" imageSizes="(max-width: 860px) 900px, 70vw">
<link rel="preload" as="image" imageSrcSet="/assets/img/home/app/god-waiting-dark-1760.webp?v=20261008j 1760w, /assets/img/home/app/god-waiting-dark.webp?v=20261008j 3024w" imageSizes="(max-width: 860px) 900px, 70vw">
<link rel="preload" as="image" imageSrcSet="/assets/img/home/app/god-routines-dark-1760.webp?v=20261008j 1760w, /assets/img/home/app/god-routines-dark.webp?v=20261008j 3024w" imageSizes="(max-width: 860px) 900px, 70vw">
<link rel="preload" as="image" imageSrcSet="/assets/img/home/app/god-rules-dark-1760.webp?v=20261008j 1760w, /assets/img/home/app/god-rules-dark.webp?v=20261008j 3024w" imageSizes="(max-width: 860px) 900px, 70vw">
