<link rel="preload" as="image" href="/assets/img/home/logo-dark.png">
<link rel="preload" as="image" href="/assets/img/home/logo-light.png">
<link rel="preload" as="image" href="/assets/img/home/mobile/models-ios-1-dark-640.webp">
<link rel="preload" as="image" href="/assets/img/home/mobile/voice-ios-1-dark-640.webp">
<link rel="preload" as="image" href="/assets/img/home/mobile/models-ios-2-dark-640.webp">
<link rel="preload" as="image" href="/assets/img/home/mobile/models-ios-1-light-640.webp">
<link rel="preload" as="image" href="/assets/img/home/mobile/voice-ios-1-light-640.webp">
<link rel="preload" as="image" href="/assets/img/home/mobile/models-ios-2-light-640.webp">
